<section>
    <h1>{{name}}</h1>
    <div><b>Description: </b>{{description}}</div>
    {{#with history}}
    <div><em>Created in {{year}} by {{founder}}</em></div>
    {{/with}}
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <h2>Types:</h2>
            <ul>
                {{#each types}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        {{#with syntax}}
        <div class="col-lg-2">
            <h2>Syntax:</h2>
            <h4>Variables:</h4>
            <ul>
                {{#each variables}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h4>Functions:</h4>
            <ul>
                {{#each functions}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h4>Conditionals:</h4>
            <ul>
                {{#each conditionals}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h4>Loops:</h4>
            <ul>
                {{#each loops}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <h4>Classes:</h4>
            <ul>
                {{#each classes}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        {{/with}}


        <div class="col-lg-3">
            <h2>Features:</h2>
            <ul>
                {{#each features}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="col-lg-2">
            <h2>Libraries:</h2>
            <ul>
                {{#each libraries}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="col-lg-2">
            <h2>Tools:</h2>
            <ul>
                {{#each tools}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <h2>Communities:</h2>
        {{#each community}}
        <div class="col-lg-3">
            <b>{{name}}</b>
            <span class="badge text-bg-primary">{{type}}</span>
        </div>
        {{/each}}
    </div>
</div>