<main>
    <h1>{{header}}</h1>

    {{#with purchase}}
    <div class="nav nav-tabs mb-4">
        {{#each tabs}}
        <a class="nav-link {{#if @first}}active{{/if}}">{{this}}</a>
        {{/each}}
    </div>

    {{#with actionBlock}}
    <div class="row">
        <div class="col-4">
            {{#with input}}
            <input class="form-control" placeholder="{{placeholder}}">
            {{/with}}
        </div>
        <div class="col-8">
            {{#each buttons}}
            <a class="btn {{#if isSuccess}}btn-success{{/if}} {{#if isOutline}}btn-outline-success{{/if}} {{#if isDanger}}btn-outline-danger{{/if}} me-3"
                href="{{link}}" target="_blank">{{text}}</a>
            {{/each}}
        </div>
    </div>
    {{/with}}

    <hr class="my-4">

    {{#each itemList}}

    {{>purchaseItem}}

    {{/each}}

    {{/with}}

    <hr class="my-5">

    {{#with userInfo}}
    <h2 class="mb-5">{{title}}</h2>

    <div class="card mb-3">
        <div class="card-body">
            {{#with profileData}}
            <h3 class="mb-4">{{title}}</h3>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        {{#with fullName}}
                        <div class="col-4">
                            {{#with surname}}
                            <div class="mb-2">{{title}}</div>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with name}}
                            <div class="mb-2">{{title}}</div>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with middleName}}
                            <div class="mb-2">{{title}}</div>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        {{#with otherInfo}}
                        <div class="col-4">
                            {{#with birthday}}
                            <div class="mb-2">{{title}}</div>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with sex}}
                            <div class="mb-2">{{title}}</div>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with language}}
                            <div class="mb-2">{{title}}</div>
                            <h5>{{value}}</h5>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            {{/with}}

            <div class="card mb">
                <div class="card-body">
                    <div class="row">
                        {{#each buttons}}
                        <div class="col-4">
                            {{#with this}}
                            <a class="btn {{#if isPrimary}}btn-primary{{/if}} {{#if isSecondary}}btn-outline-secondary{{/if}} {{#if isDanger}}btn-outline-danger{{/if}}"
                                href="link" target="_blank">{{text}}</a>
                            {{/with}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            {{#with recipients}}
            <h3 class="mb-4">{{title}}</h3>

            <div class="row">
                {{#each users}}
                <div class="col-4">
                    {{#with this}}
                    <div class="card">
                        <div class="card-body">
                            <h5>{{name}}</h5>
                            <p>{{phone}}</p>
                            {{#with button}}
                            <a class="btn btn-primary" href="{{link}}" blank="_target">{{text}}</a>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            {{#with contacts}}
            <h3 class="mb-4">{{title}}</h3>

            <div class="row">
                {{#each contactData}}
                <div class="col-4">
                    {{#with this}}
                    <div class="card">
                        <div class="card-body">
                            <h5>{{title}}</h5>
                            <p>{{value}}</p>
                            {{#with button}}
                            <a class="btn {{#if isPrimary}}btn-primary{{/if}} {{#if isSecondary}}btn-outline-secondary{{/if}} {{#if isDanger}}btn-outline-danger{{/if}}"
                                href="{{link}}" blank="_target">{{text}}</a>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </div>

    {{/with}}
</main>