<main>

    {{#with page_header}}
    <h1 class="text-center">{{title}}</h1>

    <p class="text-uppercase text-center">{{description}}</p>

    {{/with}}

    {{#with section}}
    {{#with about_us}}
    <div class="card">
        <div class="card-body">
            {{#with title_list}}
            <div class="display-6 text-end">{{main}}</div>
            <h2 class="text-end">{{sub}}</h2>
            {{/with}}
            {{#with button}}
            <button class="btn btn-outline-info">{{text}}</button>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>

    {{#with advantage}}
    <div class="card">
        <div class="card-body">
            <div class="display-5">{{title}}</div>
            <br>
            {{#with efficiency}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4">{{title}}</div>
                    <br>
                    <h6>{{sub_title}}</h6>
                    <p>{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>
            {{/with}}
            <br>
            {{#with innovation}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-center">{{title}}</div>
                    <br>
                    <h6 class="text-center">{{sub_title}}</h6>
                    <p class="text-center">{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>
            {{/with}}
            <br>
            {{#with collaboration}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-end">{{title}}</div>
                    <br>
                    <h6 class="text-end">{{sub_title}}</h6>
                    <p class="text-end">{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>

    {{#with agreement}}
    <div class="card">
        <div class="card-body">
            <div class="display-5">{{title}}</div>
            <br>
            {{#with info}}
            <div class="card">
                <div class="card-body">
                    <h5>{{sub_title}}</h5>
                    {{#with detail}}
                    <div class="card">
                        <div class="card-body">
                            <p>{{text}}</p>
                            <button class="btn btn-success">{{button}}</button>
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    {{/with}}


</main>