<main>

    {{#with heading}}
    <div class="card">
        {{#with main}}
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <h1>{{title}}</h1>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button class="btn btn-primary">{{solid}}</button>
                    <br>
                    <br>
                    <button class="btn btn-outline-primary">{{outline}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            <br>
            {{#with second}}
            <div class="card">
                <div class="card-body">
                    <h2>{{title}}</h2>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button class="btn btn-secondary">{{solid}}</button>
                    <br>
                    <br>
                    <button class="btn btn-outline-secondary">{{outline}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            <br>
            {{#with subblock}}
            <div class="card">
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p>{{text}}</p>
                    {{#with button_text}}
                    <button class="btn btn-dark">{{solid}}</button>
                    <br>
                    <br>
                    <button class="btn btn-outline-dark">{{outline}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>

    {{#with nested_display}}
    <div class="card">
        <div class="card-body">
            <div class="display-1">{{title}}</div>
            <br>
            {{#with children_display}}
            <div class="card">
                <div class="card-body">
                    <div class="display-4">{{title}}</div>
                    <p class="text-capitalize">{{text}}</p>
                    {{#with button}}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/with}}
                </div>
            </div>
            {{/with}}
            <br>
            <h6>{{header_text}}</h6>
            {{#with button}}
            <button class="btn btn-info">{{text}}</button>
            {{/with}}
        </div>
    </div>
    {{/with}}

    <br>

    {{#with paragraph}}
    <div class="card">
        <div class="card-body">
            <p class="text-uppercase">{{title}}</p>
            <p class="text-lowercase">{{text}}</p>

            {{#with button}}
            <a href="{{url}}" class="btn btn-link" target="_blank">{{text}}</a>
            {{/with}}

            <br>
            <br>

            <div class="card">
                <div class="card-body">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <a href="{{url}}" target="_blank">{{text}}</a>
                        </li>
                        <br>
                        {{/each}}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    {{/with}}

</main>