<main>
    {{#with navigation}}
    <div class="row">
        {{#each links}}
        <div class="col-2">
            <a href="{{href}}" class="btn btn-link" target="_blank">{{text}}</a>
        </div>
        {{/each}}
        {{#with button}}
        <div class="col-2">
            <a href="{{href}}" class="btn btn-primary" target="_blank">{{text}}</a>
        </div>
        {{/with}}
    </div>
    {{/with}}
    <hr>

    {{#with header}}
    <section>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        {{#with button}}
        <a href="{{link}}" class=" btn btn-primary" target="_blank">{{text}}</a>
        {{/with}}
    </section>
    {{/with}}

    <hr>

    {{#with city}}
    <section>
        <h2>{{title}}</h2>
        <div class="row g-3 d-flex align-items-stretch">
            {{#each cards}}
            <div class="col-5">
                <div class="card h-100">
                    {{#with picture}}
                    <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                    {{/with}}
                    <div class="card-body">
                        <h6 class="card-title">{{title}}</h6>
                        <p>{{description}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        {{#with button}}
                        <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                        {{/with}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </section>
    {{/with}}




    <hr>

    <section>
        {{#with winner}}
        <h2>{{title}}</h2>
        <div class="row">
            <div class="col-7">
                {{#with table}}
                <table class="table">
                    <thead>
                        <tr>
                            {{#each head}}
                            <th>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each user}}
                        <tr>
                            <th>{{place}}</th>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{nickname}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/with}}
            </div>

        </div>
        {{/with}}

    </section>

    <hr>

    {{#with gallery}}
    <section>
        <h2>H2 Heading</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">{{name}}</div>
                    <ul class="list-group list-group-flush">
                        {{#each items}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    {{/with}}

    <hr>

    {{#with relaxion}}
    <section>
        <div class="display-3">{{title}}</div>
        <br>
        <div class="row g-3">
            {{#each cards}}
            <div class="col-5">
                <div class="card h-100 text-bg-secondary">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h6>{{title}}</h6>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </section>
    {{/with}}

    <hr>

    {{#with rest}}
    <section>
        <div class="row">
            {{#each cards}}
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h6>{{title}}</h6>
                        <p>{{description}}</p>
                        <button class="btn btn-primary">{{button}}</button>
                    </div>
                    <div class="card-footer">{{footer}}</div>
                </div>
            </div>
            {{/each}}
        </div>

    </section>
    {{/with}}

    <hr>

    {{#with proposition}}
    <section>
        <div class="display-2">{{title}}</div>
        <br>
        <div class="row">
            {{#each card}}
            <div class="col-5">
                <div class="card text-bg-warning text-light">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h6>{{title}}</h6>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </section>
    {{/with}}

    <hr>

    {{#with footer}}
    <section>
        <h5>{{title}}</h5>
        <div class="row g-3">

            <div class="col-3">
                {{#each navigation}}
                <a href="{{href}}" class="btn btn-link" target="_blank">{{text}}</a>
                <br>
                <br>
                {{/each}}
            </div>


            <div class="col-3">
                {{#each socialMedia}}
                <a href="{{link}}" class="btn btn-outline-dark" target="_blank">{{name}}</a>
                <br>
                <br>
                {{/each}}
            </div>


            <div class="col-3">
                {{#each partners}}
                <a href="{{link}}" class="btn btn-outline-info" target="_blank">{{name}}</a>
                <br>
                <br>
                {{/each}}
            </div>
        </div>


        </div>

    </section>
    {{/with}}


</main>