{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <div class="row">
            <div class="col-12">
                <section>
                    {{>title big=true data='Work history'}}
                    <div>

                        {{#each works}}
                        <div class="card mb-5">
                            <div class="card-body">
                                <div class="mb-4">
                                    <h5>{{position}}</h5>
                                </div>


                                <div class="mb-4">
                                    {{duration.from}} -
                                    {{#if duration.to}}
                                    {{duration.to}}
                                    {{else}} present
                                    {{/if}}
                                </div>


                                <div class="mb-5">
                                    {{#if company.url}}
                                    {{>link text=company.name href=company.url blank=true noLine=true}}
                                    {{else}}
                                    <b>{{company.name}}</b>
                                    {{/if}}
                                </div>



                                <div class="mb-4"><strong>Projects ({{projectAmount}}):</strong></div>
                                <br>

                                {{#each projects}}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="mb-3">{{>link text=name href=url blank=true noLine=true}}</div>

                                        <div class="mb-3">
                                            <p>{{about}}</p>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="mb-2">
                                                            <em>Project Stacks ({{stackAmount}}):</em>
                                                        </div>

                                                        <div>
                                                            <ul class="list-group">
                                                                {{#each stacks}}
                                                                <li class="list-group-item">{{name}}</li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="mb-2">
                                                            <em>Project Awards ({{awardAmount}}):</em>
                                                        </div>

                                                        <div>
                                                            <ul class="list-group">
                                                                {{#each awards}}
                                                                <li class="list-group-item">{{name}}</li>
                                                                {{/each}}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>



                                {{/each}}



                            </div>
                        </div>


                        {{/each}}


                    </div>
                </section>


            </div>
        </div>

    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}