<div class="col-6">
    <div class="card h-100">
        {{#with this}}
        <img class="card-img-top" src="{{img}}">
        <div class="card-body">
            <div class="mb-3">
                {{#if isHot}}
                <span class="badge text-bg-warning rounded-pill text-uppercase ms-1">hot!</span>
                {{/if}}
                {{#if isNew}}
                <span class="badge text-bg-primary rounded-pill ms-1">New</span>
                {{/if}}
            </div>
            <div class="mb-2">
                {{#if isFast}}
                <span class="badge text-bg-success">Швидка доставка</span>
                {{/if}}
            </div>
            <div class="mb-2">
                {{#if isFree}}
                <span class="badge text-bg-secondary">Безкоштовна доставка</span>
                {{/if}}
            </div>
            <h5 class="mb-3">{{name}}</h5>
            {{#with review}}
            <p>{{amount}} {{text}}</p>
            {{/with}}
            <h4 class="mb-3">{{price}}</h4>
            <p>{{delivery}}</p>
            {{#each buttons}}
            <div class="mb-2">
                {{#with this}}
                <a class="btn {{#if isPrimary}}btn-primary{{/if}} {{#if isSecondary}}btn-secondary{{/if}}"
                    href="{{link}}">{{text}}</a>
                {{/with}}
            </div>
            {{/each}}
            <div class="mt-3">
                <ul>
                    {{#each characteristics}}
                    <li>
                        {{#with this}}
                        {{title}}: {{value}}
                        {{/with}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/with}}
    </div>
</div>